<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>実験概要</h1>
    <p><br><br>「次へ」を押すと調査が開始します。<br>
        音声を聞いて、4つの設問に回答してください。これを何度も繰り返します。<br>
        実験進度が表示されますので、適宜休憩してください。<br>
        実験はいつでも中止することができますが、その場合は、謝礼が支払われない可能性があります。<br>
        実験はいつでも中断することができます。中断したい場合は、その旨申し出てください。<br>
        では、実験を開始します。<br><br><br></p>
    <button class="btn btn-primary" onclick="location.href='/listeningexperiment/0'">次へ</button>
</div>
</body>
</html>