<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>実験概要</h1>
    <p>ここ考えて書く<br>
実験はいつでも中断することができます。中断したい場合は、その旨申し出てください。<br>
では、実験を開始します。</p>
    <button class="btn btn-primary" onclick="location.href='/listeningexperiment/0'">次へ</button>
</div>
</body>
</html>