<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <p>{{experiment_date}}</p>
    <h5>{{experimenter}}</h5>
    <h5>{{organization}}</h5>
    <h1>{{experiment_name}}</h1>
    <button class="btn btn-primary" onclick="location.href='/introduction'">実験を開始する。</button>
</div>
</body>
</html>